body {
	background: #D8DDEC;
	font-family: "circular" sans-serif;
}

h1 {
	color: #D291BC;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 30px;
}
h2 {
	color: #D291BC;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 25px;
}
h3 {
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 15px;
	color: black;
}
h4 {
	color: #D291BC;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 25px;
}
p{
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 15px;
	color: black;
}

a:hover {
	color: #F5F5F5;
}

h1:hover {
	color: #D8DDEC;
}
h2:hover {
	color: #D8DDEC;
}
h3:hover {
	color: #D8DDEC;
}
h4:hover {
	color: #F5F5F5;
}
p:hover {
	color: #D291BC;
}
li:hover {
	color: #D291BC;
}


.video{
	margin: 30px 30px 30px 30px;
}

.img_round{
	border-radius: 10%;
	margin: 30px 0px 30px 30px;
	box-shadow: 0px 10px 30px #D5D8DC;
}

.btn_intro {
	background-color: #D4EBD4;
	color: black;
	padding: 20px;
	margin: 30px 20px 20px 0px;
	border-radius: 10px;
	width: 50%;
	box-shadow: 0px 10px 30px #F6D0E8;
}

.btn {
	background-color: #D4EBD4;
	color: black;
	padding: 15px 15px 15px 15px;
	border-radius: 10px;
	margin: 10px 20px 40px 0px;
	width: 50%;
}

.item_pic{
	flex-basis: 400px;
	width: 370px;
	height: 500px;
  	border-radius: 10%;
	margin: 20px 20px 0px 20px;
}
.item_text{
	margin-top: 50px;
	margin-left: 10px;
	flex-basis: 400px;
	text-align: left;
	width: 370px;
	height: 500px;
  	border-radius: 10%;
	text-align: left;
}
.card_hard {
	position: fixed;
	padding: 10px;
  	margin: 10px;
  	right: 40px;
  	top: 30px;
  	height: 30%;
  	width: 20%;
  	background-color: #F5F5F5;
	border-radius: 20px;
	box-shadow: 0px 10px 30px #D5D8DC;
	text-align: left;
}
.card_soft {
	position: fixed;
	padding: 10px;
  	margin: 10px;
  	right: 40px;
  	top: 300px;
  	height: 35%;
  	width: 20%;
  	background-color: #F5F5F5;
	border-radius: 20px;
	box-shadow: 0px 10px 30px #D5D8DC;
	text-align: left;
}
.card_side_some {
	position: fixed;
	padding: 10px;
  	margin: 10px;
  	right: 40px;
  	top: 610px;
  	height: 10%;
  	width: 20%;
  	background-color: #F5F5F5;
	border-radius: 20px;
	box-shadow: 0px 10px 30px #D5D8DC;
	text-align: left;

}

.container{
	display: inline-flex;
	margin: 30px 0px 20px 100px;
	width: 65%;
	margin-right: 10px;
	height: 35%;
	background-color:  #EFEED8;
	overflow: auto;
	border-radius: 20px;
	box-shadow: 0px 10px 30px #D5D8DC;
	background: #F9DFE1;
}

.card {
	padding: 20px;
	margin: 0px 0px 30px 100px;
	width: 62%;
	margin-right: 10px;
	height: 70%;
	background-color: #F5F5F5;
	overflow: auto;
	border-radius: 20px;
	box-shadow: 0px 10px 30px #D5D8DC;
	text-align: left;
}
.list_inline { 
	list-style: none;
	padding-left: 0px;
	text-align: center;
}

.list_inline li{
	display: inline;
	padding: 10px;
}
.list_inline i {
	font-size: 40px;
	color: white;
	background-color: #D291BC;
	border-radius: 5px;
}

.list_sidebar{
	list-style: none;
	padding: 0px;
}

@media (max-width: 1200px) {
    #sidenav {
        display: none;
    }
}
@media (max-width: 1200px) {
    #textbox {
        display: none;
    }
}
@media (max-width: 1200px) {
    #vid {
        display: none;
    }
}


